/* $titlebar-bg: #1b2435;
$titlebar-text: #c9c9c9;
$titlebar-button: #c9c9c9;
$titlebar-height: 2rem; */

/* TITLEBAR */

.titlebar {
    /* background-color: $titlebar-bg; */
    background-color: #1b2435;
    /* color: $titlebar-text; */
    color: #c9c9c9;
    width: 100%;
    top: 0;
    left: 0;
    /* height: $titlebar-height; */
    height: 2rem;
    display: flex;
}


.titlebar-drag {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: -1;
}

.titlebar-label {
    -webkit-app-region: drag;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-left: 120px;
}

.titlebar-controls {
    -webkit-app-region: no-drag;
    height: 100%;
    width: 120px;
    text-align: center;
    margin-left: auto;
    display: flex;
}


/* TITLEBAR BUTTON */

.titlebar-button {
    display: inline-block;
    height: 100%;
    width: 40px;
    padding: 0;
}

.titlebar-button:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

#close-window.titlebar-button:hover {
    background-color: #bb0000;
}

#close-window.titlebar-button:hover .icon {
    background-color: #fff;
}

.icon {
    width: 100%;
    height: 100%;
    /* background-color: $titlebar-button; */
    background-color: #c9c9c9;
    margin: 0;
}

.icon-min {
    -webkit-mask: url("/src/assets/Minimize.svg") no-repeat 50% 50%;
    -webkit-mask-size: 12px;
}

.icon-max {
    -webkit-mask: url("/src/assets/Maximize.svg") no-repeat 50% 50%;
    -webkit-mask-size: 12px;
}

.icon-unmax {
    -webkit-mask: url("/src/assets/Unmaximize.svg") no-repeat 50% 50%;
    -webkit-mask-size: 12px;
}

.icon-close {
    -webkit-mask: url("/src/assets/Close.svg") no-repeat 50% 50%;
    -webkit-mask-size: 12px;
}